* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif
}

body {
    font: 16px/18px Arial, Tahoma, Verdana, sans-serif;
    background-color: #f1f1eb
}

text_green {
    color: #01c690;
    font-size: 15px
}

header {
    background-color: #29292b;
    width: 100%;
    height: 50px
}

#header_for_buttons {
    width: 1200px;
    height: 50px;
    margin: 0 auto
}

#logo_name {
    background-color: #29292b;
    width: 300px;
    height: 80px;
    float: left;
    color: #fff;
    text-align: center;
    padding-top: 60px;
    cursor: pointer
}

#buttons {
    width: 900px;
    height: 50px;
    float: right
}

#button {
    width: 126px;
    height: 33px;
    float: right;
    text-align: center;
    text-transform: uppercase;
    padding: 17px 10px 0;
    color: #fff;
    border-right: 1px solid #fff;
    cursor: pointer
}

#button:hover {
    background-color: #01c690
}

main {
    width: 1200px;
    height: auto;
    margin: 0 auto
}

#top_menu {
    width: 1200px;
    height: 100px
}

#header_top {
    background-color: #01c690;
    background-image: url(/design/images/header_top.png);
    width: 880px;
    height: 80px;
    margin: 10px auto;
    float: right
}

#left_menu {
    width: 300px;
    height: auto;
    float: left
}

#block_for_left {
    background-color: #fff;
    width: 298px;
    height: auto;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 4px 10px #c6c6c6
}

#button_login_reg, #head_left_menu {
    background-color: #29292b;
    width: 298px;
    height: 30px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase
}

#field_log_reg {
    background-color: rgba(253, 253, 253, 0.59);
    width: 250px;
    height: 50px;
    text-align: center;
    margin: 10px 25px 0
}

#button_log, #button_reg, #button_com {
    background-color: #01c690;
    width: 100px;
    height: 50px;
    color: #fff;
    text-align: center;
    margin: 10px 100px
}

#button_reg {
    margin: 10px 50px;
    width: 200px
}

#info_left_menu {
    background-color: rgba(253, 253, 253, 0.59);
    width: 280px;
    height: auto;
    font-size: 25px;
    margin: 10px;
    line-height: normal
}

#right_menu {
    width: 900px;
    height: auto;
    float: right
}

#block_news {
    width: 880px;
    height: 100%;
    float: right;
    margin-bottom: 20px
}

#block_in_block_news {
    background-color: #fff;
    width: 747px;
    height: auto;
    float: left;
    border: 1px solid #c6c6c6;
    box-shadow: 0 4px 10px #c6c6c6
}

#block_in_block_news_2 {
    background-color: #fff;
    width: 725px;
    height: auto;
    margin: 0 auto
}

#block_news_head {
    width: 725px;
    height: auto;
    float: left;
    padding: 15px 0 10px;
    border-bottom: 1px dotted #000
}

#block_news_content, #data_comment {
    width: 725px;
    height: auto;
    float: left;
    padding: 10px 0 15px
}

#block_news_info, #block_save {
    background-color: rgba(255, 255, 255, 0.51);
    width: 127px;
    height: auto;
    float: right;
    border: 1px solid #c6c6c6;
    box-shadow: 0 4px 10px #c6c6c6
}

#block_news_info_2 {
    width: 100px;
    height: auto;
    margin: 0 auto
}

#block_date {
    width: 100px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px
}

#block_data {
    width: 100px;
    height: auto;
    padding-top: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000
}

#data_author {
    width: 100px;
    height: auto;
    text-align: right
}

#data_category {
    width: 100px;
    height: auto;
    text-align: right;
    margin-top: 10px
}

#data_com {
    width: 100px;
    height: auto;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px
}

#block_info_footer {
    width: 100px;
    height: 27px;
    text-align: center;
    padding-top: 8px
}

#block_save {
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
    height: 30px;
    bottom: 0;
    text-transform: uppercase
}

#block_save:hover {
    background-color: #01c690;
    color: #fff
}

#block_new_sait {
    width: 430px;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer
}

#block_in_block_sait {
    background-color: #fff;
    width: 429px;
    height: auto;
    float: left;
    border: 1px solid #c6c6c6;
    box-shadow: 0 4px 10px #c6c6c6
}

#block_in_block_sait_2 {
    width: 400px;
    height: auto;
    margin: 0 auto
}

#block_sait_head {
    width: 400px;
    height: auto;
    color: #000;
    float: left;
    padding: 15px 0 10px;
    border-bottom: 1px dotted #000
}

#block_sait_scrin_info {
    float: left;
    width: 400px;
    height: auto;
    padding: 10px 0 15px
}

.block_sait_scrin_3 {
    display: none
}

.block_sait_scrin_2 {
    background: url(sait.jpg) no-repeat;
    background-size: cover;
    width: 400px;
    height: 250px
}

.block_sait_scrin_1:hover .block_sait_scrin_3 {
    display: block;
    margin-top: -250px;
    height: 210px;
    padding: 20px;
    background: rgba(41, 41, 43, 0.9);
    color: #fff
}

#block_sait_info {
    background-color: rgba(255, 255, 255, 0.51);
    width: 430px;
    height: auto;
    float: left;
    margin-top: 2px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 4px 10px #c6c6c6
}

#block_sait_info_2 {
    width: 410px;
    height: auto;
    float: left;
    margin: 10px
}

#sait_date {
    width: 80px;
    height: auto;
    text-align: left;
    padding: 10px 5px 10px 0;
    font-size: 20px;
    border-right: 1px solid #000;
    float: left
}

#sait_data_about_block {
    width: 230px;
    height: auto;
    float: left
}

#sait_author {
    width: 50px;
    height: auto;
    float: left;
    text-align: right;
    overflow: hidden;
    padding: 0 5px 10px 10px
}

#sait_cat {
    width: 70px;
    height: auto;
    float: left;
    overflow: hidden;
    text-align: right;
    padding: 0 0 5px 5px
}

#sait_comm {
    width: 80px;
    height: auto;
    float: left;
    overflow: hidden;
    text-align: right;
    padding: 0 0 0 5px
}

#sait_right_footer {
    width: 80px;
    height: auto;
    float: right;
    text-align: right;
    padding: 10px 5px;
    border-left: 1px solid #000
}

#comments_block {
    width: 880px;
    height: 100%;
    float: right;
    margin-bottom: 20px
}

#comments_block_head {
    background-color: rgba(255, 255, 255, 0.51);
    width: 200px;
    height: 30px;
    float: left;
    border: 1px solid #c6c6c6;
    box-shadow: 0 4px 10px #c6c6c6;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center
}

#comments_block_field_for_com {
    width: 880px;
    height: auto;
    margin-top: 2px;
    float: left;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    box-shadow: 0 4px 10px #c6c6c6
}

#comment, #commen_in {
    width: 860px;
    height: auto;
    float: left;
    margin: 10px
}

#comment_in {
    width: 840px;
    margin: 10px
}

#head_comment {
    width: 840px;
    height: 40px;
    font-size: 20px;
    float: left;
    border-bottom: 1px dotted #000
}

#name_user_comment {
    float: left;
    padding: 10px 10px 10px 0
}

#date_comment {
    float: right;
    padding: 10px 0 10px 10px;
    text-align: right
}

#data_comment {
    width: 840px;
    border-bottom: 1px dotted #000
}

#footer_comment {
    width: 150px;
    height: 30px;
    float: right;
    text-align: right;
    padding: 10px 0 0
}

#new_comment {
    width: 818px;
    height: 100px;
    font-size: 17px;
    padding: 20px
}

#button_com {
    float: right;
    margin: 3px 0;
    height: 40px
}

footer {
    background-color: #29292b;
    color: #fff;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    float: left
}

A {
    color: #000
}

#new_text {
    text-align: center;
    margin-top: 10px
}

#new_text A:hover {
    color: #01c690
}

A {
    color: #000
}

#new_text {
    text-align: center;
    margin-top: 10px
}

#new_text A:hover {
    color: #01c690
}